In [7]:
import pandas as pd
import sqlite3


DB_PATH = 'database/users.db'

conn = sqlite3.connect(DB_PATH)

df = pd.read_sql_query("SELECT * FROM users", conn)

conn.close()

df.head()

     user_id username  invitor_id  posts  created_at
0  809609814   loozME           0      0  2025-12-29